h1{
    color:red;
}

body{
    display: flex;
    font-family: Arial;
}

#nav a{
    background-color:bisque;
}

#nav{
    min-width: 200px;
    background-color:bisque;
}

/* Table */
table{
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: top;
}  
th{
    border: 1px solid;
    border-collapse: collapse;
    
    
}
td{
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: top;
    
}

.table-green{
    background-color: palegreen;
    
}
.table-orange{
    background-color: palegoldenrod;
}
.table-red{
    background-color: salmon;
}